{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h1 class="display-1">Update Feedback</h1>
    <form method="post">

    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field (class_="form-control")}}
        {% for error in field.error %}
        {{ error }}
        {% endfor %}
    </p>
     {% endfor %}
     <button type="submit" class="btn btn-success">Update Feedback</button>

</form>


</div>




{% endblock %}